{% load static %}
<section class="info_section layout_padding2-top">
    <div class="social_container">
        <div class="social_box">
            <a href="">
                <img src="{% static 'images/fb.png' %}" alt="" />
            </a>
            <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="" />
            </a>
            <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="" />
            </a>
            <a href="">
                <img src="{% static 'images/youtube.png' %}" alt="" />
            </a>
        </div>
    </div>
    <!-- footer section -->
    <section class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://vk.com/html0880">TinyJ</a>
            </p>
        </div>
    </section>
    <!-- footer section -->
</section>